<md-toolbar color="primary">
  <span>{{title}}</span>
</md-toolbar>

<div>
  <md-progress-bar mode="determinate" [value]="getProgress()"></md-progress-bar>

  <md-table #table [dataSource]="dataSource">

    <ng-container mdColumnDef="name">
      <md-header-cell *mdHeaderCellDef> Name </md-header-cell>
      <md-cell *mdCellDef="let build" style="white-space:nowrap">
        <span class="mat-subheading-2">{{ build.buildName }}</span>
      </md-cell>
    </ng-container>

    <ng-container mdColumnDef="stage">
      <md-header-cell *mdHeaderCellDef>Stage</md-header-cell>
      <md-cell *mdCellDef="let build"> 
        <span *ngIf="build.getLastStage()" 
          class="build-stage build-stage-{{ build.getLastStage().status}}">
          {{ build.getLastStage().name }}
        </span>
      </md-cell>
    </ng-container>

    <ng-container mdColumnDef="status">
      <md-header-cell *mdHeaderCellDef> <md-icon></md-icon> </md-header-cell>
      <md-cell *mdCellDef="let build">
      	<md-icon *ngIf="build.isSuccess()" class="mat-success">done</md-icon>
      	<md-icon *ngIf="build.isFailure()" class="mat-warn">clear</md-icon>
        <md-icon *ngIf="build.isAborted()">block</md-icon>
        <md-spinner *ngIf="build.isRunning()" class="icon"></md-spinner>
      </md-cell>
    </ng-container>

    <ng-container mdColumnDef="started">
      <md-header-cell *mdHeaderCellDef> Started </md-header-cell>
      <md-cell *mdCellDef="let build"> {{ build.startTimeMillis }} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="flex">
      <md-header-cell *mdHeaderCellDef></md-header-cell>
      <md-cell *mdCellDef="let build"></md-cell>
    </ng-container>


    <ng-container mdColumnDef="finished">
      <md-header-cell *mdHeaderCellDef> Finished </md-header-cell>
      <md-cell *mdCellDef="let build"> {{ build.endTimeMillis }} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="duration">
      <md-header-cell *mdHeaderCellDef> Duration </md-header-cell>
      <md-cell *mdCellDef="let build"> {{ build.durationMillis }} </md-cell>
    </ng-container>

  	<md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>

</div>